html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  overflow: hidden;
}

svg {
  width: 28px;
  height: 28px;
}

input[type="text"]:focus {
  border: 1px solid #300d4f;
}

button {
  color: white;
  font-size: 14px;
  border-radius: 2px;
  background-color: #331550;
  border: 1px solid #331550;
  cursor: pointer;
  box-sizing: border-box;
}

button:hover {
  color: white;
  background-color: rebeccapurple;
}

.chat-widget {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 400px;
  border: 1px solid #ccc;
}

.chat-header {
  width: 100%;
  height: 60px;
  background-color: #00de72;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-header h2 {
  font-size: 18px;
  margin-bottom: 0;
}

.chat-body {
  height: 350px;
  overflow-y: auto;
  padding: 10px;
}

.status-messages {
  text-align: center;
  padding: 5px;
}

.message {
  background-color: #f6f6f6;
  clear: both;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  max-width: 80%;
}

.message.user {
  float: right;
  background-color: peachpuff;
}

.message.support {
  float: left;
  background-color: #ddd;
}

.message-form, .message-input {
  width: 100%;
  margin-bottom: 0;
}

.message-input {
  border-radius: 0;
  border: none;
  border-top: 1px solid #ccc;
  height: 50px;
  padding: 20px;
  font-size: 16px;
  background-color: #f6f6f6
}

